// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald&display=swap');

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
       url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
       url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/OpenSans-Medium.woff2") format("woff2"),
       url("../fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
       url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
       url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"),
       url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"),
       url("../fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"),
       url("../fonts/Oswald-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"),
       url("../fonts/Oswald-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"),
       url("../fonts/Oswald-Bold.ttf") format("truetype");
}