.breadcrumbs {
  gap: 6px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;

  &__item {
    display: inline;

    &:not(:first-child) {
      &:before {
        content: "»";
        position: relative;
        top: -2px;
      }
    }
  }
}